@model List<ReplacementAsset.Models.NewAssetReplacement>

@{
    ViewData["Title"] = "New Asset Replacement";
}

<link href="~/vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<link href="~/vendor/bootstrap-table/bootstrap-table-sticky-header.css" rel="stylesheet" />

<div class="row gutters mt-4">
    <div class="card">
        <div class="card-header text-center" style="font-size: 1.00rem;">New Asset Replacement</div>
        <hr class="m-0" />
        <div class="card-body">
            <table id="table"
                   data-toggle="table"
                   data-locale="en-US"
                   data-sticky-header="true"
                   data-sticky-header-offset-y="60"
                   data-search="true"
                   data-toolbar="#toolbar"
                   data-search-highlight="true"
                   data-search-align="right"
                   data-show-toggle="true"
                   data-show-refresh="true"
                   data-show-columns="true"
                   data-buttons="[]"
                   data-key-events="true"
                   data-url="@Url.Action("GetData", "NewAssetReplacement")"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-show-columns-toggle-all="true"
                   data-pagination-loop="false"
                   data-pagination-pre-text="Previous"
                   data-pagination-next-text="Next"
                   data-page-size="50">
                <thead>
                    <tr>
                        <th data-field="assetRequestName" data-sortable="true" data-width="200">Asset Request Name</th>
                        <th data-field="assetRequestDepartment" data-sortable="true" data-width="150">Department</th>
                        <th data-field="assetRequestType" data-sortable="true" data-width="100">Type</th>
                        <th data-field="assetRequestSerialNumber" data-sortable="true" data-width="150">Serial Number</th>
                        <th data-field="assetRequestBaseline" data-sortable="true" data-width="150">Baseline</th>
                        <th data-field="assetRequestUsageLocation" data-sortable="true" data-width="150">Usage Location</th>
                        <th data-field="assetRequestReason" data-sortable="true" data-width="300">Reason</th>
                        <th data-field="assetRequestJustify" data-sortable="true" data-width="200">Justify</th>
                        <th data-field="assetRequestTypeReplace" data-sortable="true" data-width="200">Type Replace</th>
                        <th data-field="assetRequestApprovalDate" data-sortable="true" data-width="150">Approval Date</th>
                        <th data-field="name" data-sortable="true" data-width="200">New Asset Name</th>
                        <th data-field="newType" data-sortable="true" data-width="100">New Asset Type</th>
                        <th data-field="newSerialNumber" data-sortable="true" data-width="150">New Serial Number</th>
                        <th data-field="dateReplace" data-sortable="true" data-width="150">Date Replace</th>
                        <th data-formatter="actionFormatter" class="text-center no-space-three text-nowrap" data-width="100">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-sticky-header.min.js"></script>
    <script src="~/vendor/bootstrap-table/bootstrap-table-filter-control.min.js"></script>
    <script>
        function actionFormatter(value, row, index) {
            var editUrl = '@Url.Action("Edit", "NewAssetReplacement")' + '/' + row.id;
            var editBtn = '<a href="' + editUrl + '" class="btn btn-sm btn-primary">Edit</a>';
            return editBtn;
        }

        $(function () {
            var $table = $('#table');

            // Periksa apakah tabel sudah diinisialisasi sebelumnya
            if (!$table.data('bootstrap.table')) {
                $table.bootstrapTable({
                    url: '@Url.Action("GetData", "NewAssetReplacement")',
                    pageSize: 50,
                    columns: [
                        // Definisikan kolom-kolom tabel di sini
                        {
                            field: 'assetRequestName',
                            title: 'Asset Request Name',
                            sortable: true,
                            width: 200
                        },
                        // ...
                    ]
                });
            }
        });
    </script>
}
