<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Reasset</title>
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<!-- Icomoon Font Icons css -->
	<link rel="stylesheet" href="~/fonts/style.css">
	<!-- Main css -->
	<link rel="stylesheet" href="~/css/main.css">
	<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
	<!-- SweetAlert2 -->
	<link href="~/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<style>
		.page-wrapper {
			background-image: url('/img/leaf.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}

		h2 {
			color: #000; /* Warna teks abu abu */
			text-shadow: 2px 2px 4px #fff(0, 0, 0, 0.5); /* Bayangan teks untuk kontras */
			padding-top: 3px; /* Padding atas */
			padding-bottom: 3px; /* Padding bawah */
		}
	</style>

</head>


<body>
	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Sidebar wrapper start -->
		<partial name="_Sidebar" />
		<!-- Sidebar wrapper end -->
		<!-- Page content start  -->
		<div class="page-content">
			<partial name="_Header" />

			<!-- Page header start -->
			<div class="page-header">
			</div>
			<!-- Page header end -->
			<!-- Main container start -->
			<div class="main-container">
				<main role="main">
					@RenderBody()
				</main>
			</div>
			<!-- Main container end -->

		</div>
		<!-- Page content end -->

	</div>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<!-- Required jQuery first, then Bootstrap Bundle JS -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/moment.js"></script>


	<!-- *************
		************ Vendor Js Files *************
	************* -->
	<!-- Slimscroll JS -->
	<script src="~/vendor/slimscroll/slimscroll.min.js"></script>
	<script src="~/vendor/slimscroll/custom-scrollbar.js"></script>

	<!-- Daterange -->
	<script src="~/vendor/daterange/daterange.js"></script>
	<script src="~/vendor/daterange/custom-daterange.js"></script>

	<!-- Apex Charts -->
	@* <script src="~/vendor/apex/apexcharts.min.js"></script>
	<script src="~/vendor/apex/admin/visitors.js"></script>
	<script src="~/vendor/apex/admin/deals.js"></script>
	<script src="~/vendor/apex/admin/income.js"></script>
	<script src="~/vendor/apex/admin/customers.js"></script> *@

	<!-- Main JS -->
	<script src="~/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		function updateDateTime() {
			var currentDate = new Date();
			var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
			var dateString = currentDate.toLocaleDateString('en-US', options);
			var timeString = currentDate.toLocaleTimeString();

			document.getElementById('date').textContent = dateString;
			document.getElementById('clock').textContent = timeString;
		}

		setInterval(updateDateTime, 1000);
	</script>
	<!-- sweetalert2 -->
	<script src="~/vendor/sweetalert2/sweetalert2.all.min.js"></script>


</body>
</html>